body{width:100%; height:100%;background:url(../image/gonglue_bg.jpg) no-repeat left top fixed;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;}

.head_img{width:100%; height:auto;}
.head_img img{width:100%; height:auto; vertical-align:top;}