body{ background:#fff;}

.v_box{ padding:15px; overflow:hidden; color:#434343;}
.v_box h3{ font-size:20px; font-weight:400;}
.v_box h3 em{ font-family:Tahoma;}
.v_box p{ font-family:宋体; font-size:16px; padding:6px 0;}

