@charset "utf-8";
.wapper {
position:absolute;width:100%;height:100%;
background:#fff;
}
    .wapper .ico {
    width:68px;height:68px;margin:55px auto 0 auto;
    background:url('/zsjy/img/login/findpassword.png') no-repeat;
    background-size:68px 68px;
    }
    .wapper .word {
    width:241px;height:99px;background:#e8e8e8;
    margin :45px auto 0 auto;border-radius:4px;
    }
.word div {
color:#444444;font-size:14px;text-align:center;position:relative;
}
.word .one {
    top:10px;
}
.word .two {
    top:24px;
}
.word .three {
    top:25px;font-style: italic;color:blue;text-decoration:underline;
}