@charset "utf-8";
.wapper {
padding:8px;
}
.wapper {
padding:15px;
}
    .wapper .title {
    font-size:15px;
    font-weight:bold;
    }
    .wapper .item {
    
    padding-top:15px;}
.item .word {
font-size:12px;
}
.item .ico {
text-align:center;padding-top:15px;
}
.ico .i-ico {
height:175px;
width:203px;
}