@charset 'utf-8';
.wapper .head-title {
    height: 35px;
    line-height: 35px;
    background: #f3f7f9;
    margin-left: 15px;
    position: relative;
}

.head-title span {
    height: 35px;
    text-align: center;
    font-size: 10px;
    color: #535353;
    position: absolute;
}

.head-title .title-one {
}

.head-title .title-two {
    left: 25%;
}

.head-title .title-three {
    left: 54%;
}

.head-title .title-four {
    left: 83%;width: 36px;
text-align: right;
}


.wapper .list-item {
    border-bottom: 1px solid #ddd;overflow-y:scroll;
}

.list-item .list {
    position: relative;
    border-bottom: 1px solid #ddd;
    height: 45px;
    margin-left: 15px;
}

.list-item .last {
    border-bottom: none !important;
}

.list .item {
    position: absolute;
    height: 41px;
    font-family: '微软雅黑';
    font-size: 10px;
    line-height: 24px;
}

.list .item-one {
}

.item-one .time {
    color: #969696;
}

.item-one .name {
    font-size: 12px;
}

.item p {
    height: 16px;
}

.list .item-two {
    left: 25%;
    line-height: 41px;
    text-align: right;
width: 58px;    
}

.list .item-three {
    left: 54%;line-height:41px;width: 49px;
text-align: center;
}

.list .item-four {
    left: 83%;line-height:41px;width: 36px;
text-align: right;
}

.list .win {
color:#ff0000;
}
.list .lost {
color:#00ce05;
}
.list .flat {
color:#40c2ff;
}
